.grid {
  display: grid;
  align-content: flex-start;
}

.grid2Col {
  @extend .grid;
  grid-template-columns: repeat(1, 1fr);   
  
  @include media(xs) {
    grid-template-columns: repeat(2 ,1fr);
  }
}

.grid3Col {
  @extend .grid;
  grid-template-columns: 1fr; 
  
  @include media(md) {
    grid-template-columns: repeat(3, 1fr);   
  }

  @include media(xs) {
    grid-template-columns: repeat(2, 1fr);   
  }
}

