:root {

    --w:1280px;
    --fz:24px;
    --fzMd:16px;
    --fzSm:14px;
   
    --white:#fff;
    --lightGrey:#6A6E87;
    --lightGrey2:#E7E9F7;
    --colorAccent1:#00E5FF;
    --colorAccent2:#FF6DC1;
    --itemBg:#15151D;

}
